  * {
      box-sizing: border-box;
  }

  html,
  body,
  #__next {
      height: 100%;
      width: 100%;
  }

  .Layout {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
  }

  .Content {
      flex: 1;
      display: flex;
      flex-direction: column;
  }