.music-controller {
    .btn {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        border: 1px solid gray;
        margin-left: 1rem;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        div {
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            border-color: transparent transparent transparent #bebebe;
        }

        &.btn-play {
            height: 3rem;
            width: 3rem;

            div {
                height: 1.5rem;
                transition: 100ms all ease;
                will-change: border-width;

                // play state
                border-style: solid;
                border-width: .8rem 0 .8rem 1.5rem;

                // paused state
                &.pause {
                    border-style: double;
                    border-width: 0px 0 0px 1.5rem;
                }
            }
        }

        &.btn-next,
        &.btn-prev {
            div {

                height: 1rem;
                border-style: solid;
                border-width: .5rem 0 .5rem 1rem;

                &:after {
                    position: absolute;
                    top: -0.5rem;
                    left: -0.5rem;
                    content: '';
                    box-sizing: border-box;
                    height: 1rem;
                    border-color: transparent transparent transparent #bebebe;
                    cursor: pointer;
                    border-style: solid;
                    border-width: .5rem 0 .5rem 1rem;
                }
            }
        }

        &.btn-prev {
            transform: rotate(180deg);
        }
    }
}